# Either set a full MongoDB URI:
# MONGO=mongodb://franklyn:Franklyn123@127.0.0.1:27017/mern-estate?authSource=admin

MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_DB_NAME=mern-estate
MONGO_HOST=127.0.0.1
MONGO_PORT=27017